<!-- <h1>Sign in</h1>
<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="submit" value="Login" class="btn">
</form> -->
<body>
    <div class="login-page">
        <div class="login-container">
            <div class="wrapper">
                <form action="/admin" method="POST">
                    <h1>Login</h1>

                    <!-- Error message display -->
                    <% if (errorMessage) { %>
                        <p style="color: red;"><%= errorMessage %></p>
                    <% } %>

                    <div class="input-box">
                        <input type="text" placeholder="Enter Username" name="username" required>
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>




<!-- <h1>Register</h1>
<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="submit" value="Register" class="btn">
</form> -->
