<header class="header">
    <div>
    <a href="/" class="header__logo"><img src="/images/logo_utuh_nobg.png" alt="Logo Kesbang Jakarta Timur"></a>
    <!-- <a href="/" class="header__logo">Admin Panels</a> -->
    </div>
    
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/Staff" class="">Staff</a>
            </li>
        </ul>


    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>