<header class="header">
    <div>
        <a href="/" class="header__logo">
            <img src="/images/logo.png" alt="Logo Walikota Jakarta Timur">
        </a>
    </div>
    
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About&nbsp;</a>
            </li>
            <li class="dropdown">
                <span class="dropdown__title">Staff</span>
                <ul class="dropdown__menu">
                    <li><a href="/Staff">Data Pegawai</a></li>
                    <li><a href="/struktur-organisasi">Struktur Organisasi</a></li>
                    <li><a href="/admin">Admin Login</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    

    <div class="header__button">
         <button class="searchBtn" aria-expanded="false">
            Search
            <span class="material-icons">
                search
            </span>
         </button>
    </div>
</header>
