<h2 class="contact__heading fade">Tentang Kantor Kami</h2>
  <div class="heading-underline-new"></div>

<div class="image-xcontain">
    <img src="/images/department.jpg" alt="Gedung Walikota Jakarta Timur" class="department-image-new fade">
</div>

<div class="about-card fade">
<p class="about__header" >Berdasarkan Peraturan Gubernur Provinsi DKI Jakarta No. 258 Tahun 2016 tentang Organisasi dan Tata Kerja Badan Kesatuan Bangsa dan Politik Provinsi DKI Jakarta, Suku Badan rnempunyai tugas mengoordinasikan dan melaksanakan kebijakan teknis pelayanan penunjang pemerintahan di bidang kesatuan bangsa dan politik yang meliputi bina ideologi dan wawasan kebangsaan, kewaspadaan, ketahanan ekonomi, seni, budaya, agama dan kemasyarakatan serta politik dan demokrasi. Untuk melaksanakan tugas pokok tersebut di atas Suku Badan Kesatuan Bangsa dan Politik Kota Administrasi Jakarta mempunyai fungsi :</p>

<ul class="about-meta">
    <li>Penyusunan rencana strategis dan rencana kerja dan anggaran Suku Badan;</li>
    <li>Pelaksanaan rencana strategis dan dokumen pelaksanaan anggaran Suku Badan;
    <li>Fasilitasi penyelenggaraan pembinaan pemahaman ideologi negara dan pengembangan wawasan kebangsaan pada lingkup Kota Administrasi;</li>
    <li>Fasilitasi penyelenggaraan pengembangan ketahanan ekonomi, seni, budaya, agarna dan kemasyarakatan pada lingkup Kota Administrasi;</li>
    <li>Fasilitasi penyelenggaraan tugas kewaspadaan pada lingkup Kota Administrasi;</li>
    <li>Fasilitasi penyelenggaraan pelaksanaan pembinaan dan pengembangan politik dan demokrasi pada lingkup Kota Administrasi;</li>
    <li>Pelaksanaan pengawasan, pengendalian, monitoring dan evaluasi perizinan dan non perizinan pada bidang kesatuan bangsa dan politik Kota Administrasi;
    <li>Penyusunan bahan rekomendasi kepada penyelenggara Pelayanan Terpadu Satu Pintu (PTSP) dalam rangka penetapan dan pemberian sanksi atas pelanggaran penyalahgunaan perizinan dan non perizinan pada bidang kesatuan bangsa dan politik Kota Administrasi;</li>
    <li>Fasilitasi penyelenggaraan pemilihan umum pada lingkup Kota Administrasi; j. pengelolaan dukungan teknis dan administratif pada SKPD/UKPD dan pihak terkait</li> 
    <li>Pengelolaan kepegawaian, keuangan, dan barang Suku Badan;</li>
    <li>Pengelolaan ketatausahaan dan kerumahtanggaan Suku Badan;</li>
    <li>Pengelolaan kearsipan, data dan informasi Suku Badan; dan</li>
    <li>Penyusunan laporan dan pertanggungjawaban pelaksanaan tugas dan fungsi Suku Badan.</li> 
</ul>
</div>