<div class="author">
    <h1 class="author__heading">Suku Badan Kesatuan Bangsa dan Politik</h1>
    <p class="author__body">Kota Administrasi Jakarta Timur</p>
</div>

<div class="image-xcontain">
    <img src="/images/department.jpg" alt="Gedung Walikota Jakarta Timur" class="department-image">
</div>


<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <div class="article-cards">
        <% data.slice(0, 2).forEach(post => { %> <!-- Limit to 2 posts -->
        <div class="article-card">
            <div class="article-card-content">
                <h3 class="article-title"><%= post.title %></h3>
                <p class="article-date"><%= post.createdAt.toDateString() %></p>
                <p class="article-description">This is a short description or excerpt of the post.</p>
                <a href="/post/<%= post._id %>" class="read-more">Continue reading &rarr;</a>
            </div>
            <!-- Commented out the thumbnail section for now -->
            <!-- <div class="article-thumbnail">
                <img src="/path/to/thumbnail.jpg" alt="Thumbnail" />
            </div> -->
        </div>
        <% }) %>
    </div>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Post</a>
    <% } %>
</section>

