<div class="author fade">
    <h1 class="author__heading">Pegawai Suku Badan Kesatuan Bangsa dan Politik</h1>
</div>

<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Pak Handoko</li>
            <li>Jabatan: Kepala Suku Badan Kesatuan Bangsa dan Politik Kota Administrasi Jakarta Timur</li>
            <li>Bidang: Ketua</li>
        </ul>
    </div>
</div>



<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Ibu Kristin</li>
            <li>Jabatan: Ketua Sub Bidang Tata Usaha Suku Badan Kesatuan Bangsa dan Politik Kota Administrasi Jakarta Timur</li>
            <li>Bidang: Tata Usaha</li>
        </ul>
    </div>
</div>


<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Pak Jajuli</li>
            <li>Jabatan: Ketua Sub Bidang Kewaspadaan Suku Badan Kesatuan Bangsa dan Politik Kota Administrasi Jakarta Timur</li>
            <li>Bidang: Ketua</li>
        </ul>
    </div>
</div>

<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Pak Ari</li>
            <li>Jabatan: Ketua Sub Bidang Ide Wasbang dan Politik Bangsa dan Politik Kota Administrasi Jakarta Timur</li>
            <li>Bidang: Ketua</li>
        </ul>
    </div>
</div>


<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Dodi</li>
            <li>Jabatan: Bendahara Kewaspadaan</li>
            <li>Bidang: Kewaspadaan</li>
        </ul>
    </div>
</div>

<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Teguh Wdidodo</li>
            <li>Jabatan: Bendahara Logistik</li>
            <li>Bidang: ESBAK</li>
        </ul>
    </div>
</div>

<div class="staff-card fade">
    <img src="/images/greenbg.jfif" alt="Pak Handoko" class="staff-card__image">
    <div class="staff-card__details">
        <ul>
            <li>Nama: Sari Purwaningsih</li>
            <li>Jabatan: Analis Kewaspadaan</li>
            <li>Bidang: Kewaspadaan</li>
        </ul>
    </div>
</div>

