@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 2.80rem);
  --border-radius: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #FAF5EE;
    background-image: url();
    margin: 0;
}

a {color: var(--black);}
h1{font-size: var(--font-size-xl);}
h2{font-size: var(--font-size-lg);}
h3{font-size: var(--font-size-md);}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family:'Montserrat', sans-serif ;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px ;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}

/* Layout */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0;
}

/* Department Image Section*/

.department-image {
    max-width: fit-content;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}



/* Main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}

.header__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header__logo img {
    max-width: 75px; /* Adjust the width as needed */
    height: auto; /* Ensures the aspect ratio is maintained */
}

.header__logo:hover {
    text-decoration: none;
}

.header__nav {
    grid-area: menu;
    display: flex;
    justify-content: center;

}

.header__button {
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}

.header__button button:hover{
    border: 2px solid var(--black);
}

/* Header --> Navigation */

.header__nav ul {
    list-style-type: none ;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a:hover {
    text-decoration: underline;
}

.header__nav ul a:active {
    color: var(--gray);
}

/* Author --> Homepage */
.author {
    padding: 10px 0;
    text-align: center;
}

.author__heading {
    font-size: var(--font-size-xl);
    margin-top: 10px;
    margin-bottom: 5px;
}

.author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
}

/* Home Article List */
.article__heading {
    margin-top: 4rem;
    font-weight: 400;
}

.article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}

.article-titles {
    font-size: 21.5px;
}

.article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .article-ul li a {
        flex-direction: row;
        align-items: center;
    }

    .article-list__date {
        text-align: right;
    }
}

.article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article ul:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover{
    filter: none;
}

.article-ul:hover li {
    filter: blur(3px);
}

.article-ul:hover li:hover {
    filter: none;
}

.pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover {
    color: var(--black);
}

.article {
    white-space: pre-wrap;
}

/* Footer */
.footer {
    margin: 4rem;
    text-align: center;
}


/* SearchBar */
.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input {
    margin: 0;
    padding: 0;
}

#searchClose {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px ;
}

/* AdminPost */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-post-controls form {
    display: inline-block;
}


.admin-post-controls .btn {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


/* Admin Login Page */

.login-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 73vh;  /* Full height for the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: #000000;
    padding: 30px 40px;
    border-radius: 10px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: aliceblue;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px; /* Adjust padding to make space for the icon */
}

.input-box input::placeholder {
    color: #000000;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
    cursor: pointer;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
